
@{
    ViewData["Title"] = "Asian";
}
<p class="border border-5 rounded-pill border-warning d-inline-block p-1">Asian</p>

<div class="text-center">
    <h1 class="display-4">Any Asian People can visit this Page</h1>
</div>


