
@{
    ViewData["Title"] = "Female";
}


<p class="border border-5 rounded-pill border-warning d-inline-block p-1">Female</p>

<div class="text-center">
    <h1 class="display-4">Only Woman can visit this Page</h1>
</div>

